<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring-demo-one" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.springdemo.MyApp" />
    <module name="spring-demo-one" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>